.dashboard{
    background: #fff;
    text-align: left;
    min-height: 500px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap 
}
.info-box{
    width: 230px;
    min-width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid silver;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    .amount{
        font-size: 20px;
        font-weight: 540;
      }
}
.darktheme{
    background: black;
    color: #fff;
}
.info-graph{
    height: 120px;
}
.active-class{
    color: red
}
.sub-section-header{
   padding: 20px;
}
.period-list{
    margin-right: 30px;
    cursor: pointer;
}
.download-btn{
    position: relative;
    left: 20%;
    font-weight: 540;
}
.bottom-charts-section{
    display: flex;
    flex-wrap: wrap ;
    .big-chart-box{
      height: 280px;
      width: 700px;
      border: 1px solid silver;
      margin-right: 20px;
      border-radius: 10px
    }
    .action-box{
        height: 280px;
        width: 309px;
        border: 1px solid silver;
        margin-left: 40px;
        background: #FF335B;
        border-radius: 10px;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        font-weight: 450;
        .send-btn{
            background: #000;
            color: #fff;
            margin-top: 100px;
            height: 40px;
            border-radius: 10px;
            border: 'none';
        }
    }
}