table {
    margin-top: 40px;
    tr{
        line-height: 50px;
    }
}
.row-line{
    font-weight: 300;
    line-height: 60px;
    color: red;
    background: red;
}
.pagination {
    position: relative;
    right: 40px;
    top: 40px
  }
  